.imgBox {
  width: clamp(150px, 80%, 340px) ;
  height: -webkit-fill-available;
  margin: auto auto 40px;
  img {
    border: 5px dotted rgb(255, 255, 255) !important;
  }
}
.box {
  padding: 0 30px;
  h2 {
    text-align: center;
    margin: 25px auto 30px;
    text-transform: uppercase;
  }
  ul {
    text-transform: capitalize;
    list-style-type: none;
    padding: 0 20vw;
    display: flex;
    justify-content: space-between;
    line-height: 1.8;
    li {
      padding-bottom: 5px;
      span {
        font-weight: 700;
      }
    }
  }
}
@media screen and (max-width: 868px) {
  .box {
    ul {
      display: block;
      padding: 0 20vw;
    }
  }
}
@media screen and (max-width: 468px) {
  .box {
    ul {
      padding: 0 2vw;
    }
  }
}
