@import "./colors";

.container {
  width: clamp(400px, 80%, 1000px);
  margin: auto;
}

.h1 {
  margin-top: 10vh;
  line-height: 1;
  font-size: 1.3rem;
  font-weight: 800;
  text-align: center;
}

.main {
  padding: 4rem 0;
}
.characterBox {
  margin: 25px 2rem;
  box-shadow: 0px 3px 7px 1px rgba(88, 4, 77, 0);

  &:hover {
    cursor: pointer;
    box-shadow: 2px 0px 2px 1px rgb(50, 80, 133);
  }
}
